* {
	font-family: 'Roboto', sans-serif;
}

body {
	overflow-x: hidden;
}

#head {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50px;
	color: #D28E22;
}

.text {
	width: 93%;
}

.head {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
	color: #D28E22;	
}
